# Ignore macOS system files
.DS_Store

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore package manager files
node_modules/
npm-debug.log
yarn-error.log

# Ignore other system files
Thumbs.db